# Ignore the .env file (environment variables)
.env
.htaccess
config.php

# Ignore log files
*.log
/logs
/storage/logs

# Ignore temp files
/tmp
/storage

# Ignore Composer vendor directory
/vendor


# Ignore cPanel and IDE specific files
*.swp
*.swo
*.bak
*.backup
/.c9/
/.idea/
/.vscode/
.DS_Store
Thumbs.db

# Ignore archive files
*.zip
*.rar
*.tar.gz
*.tar
*.7z

# Ignore SQL database dumps
*.sql

# Ignore image files
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.bmp
# *.svg
# *.ico
# *.tiff
# *.webp
