# Ignore the .env file (environment variables)
.env

# Ignore log files
*.log
/logs
/storage/logs

# Ignore temp files
/tmp
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Ignore Composer vendor directory
/vendor

# Ignore Composer lock file (optional, if you prefer to commit it)
/composer.lock

# Ignore node modules (if you're using npm for frontend)
/node_modules

# Ignore cPanel and IDE specific files
*.swp
*.swo
*.bak
*.backup
/.c9/
/.idea/
/.vscode/
.DS_Store
Thumbs.db

# Ignore build files (if applicable)
/public/js/
/public/css/
/public/hot
/public/storage

# Ignore compiled code (optional)
/bootstrap/cache/*

# Ignore archive files
*.zip
*.rar
*.tar.gz
*.tar
*.7z

# Ignore SQL database dumps
*.sql

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico
*.tiff
*.webp
